<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Pagina Inicial</title>
</head>
<body>
    <center>
        <h1> <%=titulo%> </h1>
    </center>
    <table class="table">
        <tr>
            <th>Matricula</th>
            <th>Nombre</th>
            <th>Sexo</th>
            <th>Materias</th>
        </tr>                   

        <% for(i=0;i<listado.length;i++){ %>
            <tr>
                <td><%=listado[i].matricula%></td>
                <td><%=listado[i].nombre%></td>
                <td><%=listado[i].sexo%></td>
                <td>
                <select class= "dropdown">
                    <% for(j=0; j<listado[i].materias.length;j++) { %>
                        <option>
                            <%=listado[i].materias[j]%>
                        </option>
                    <% } %>
                </td>
                </select>
            </tr>
        <% } %>
    </table>
</body>
</html>